*{
	margin:0;
	padding:0;
}

.myDiv{
    border: 5px outset white;
    background-color: rgb(173, 230, 227);
    text-align: center;
    height: 450px;
    width: 95%;
}
#yourMessage{
    width:600px;
    height:80px;
}#yourName{
    width:600px;
}
#emails{
    width:600px;
    height: 40px;
}
#sendMessage{
    background-color: yellow;
    margin-left:45px;
}
#phone{
  width:295px;
  height:40px;  
}
#company{
    width:295px;
    height: 40px;
    
}
input{
    
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}
h1{
    text-align: center;
    
}
.Div1{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 70px;
}
p{
    font-size: 13px;
	font-style: italic;
}
#map{
    color:yellow;
     
    font-size: 13px;
	font-style: italic;
}
li{
    text-align: left; 
    font-size: 13px;

}